/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
} // permitira hacer breakpoints cada 300px

/* Ayuda para soportar diferentes resoluciones de pantalla. */
/* @media (min-width: 576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
} */
